body{
  background-color: darkslategray;
}
main{
  margin: auto;
  max-width: 800px;
  
}
div {
  margin-top: 5px;
  margin-left: 20px;
  padding: 5px;
  border: 1px solid #000000;
  background-color: lightblue;
  color: #404040;
}

item-value{
  color: black;
}

div[object]{
  background-color: aliceblue;
}

div[null]{
  background-color: lightblue(204, 227, 235);
  color: #696969;
}
.hidden {
  display: none;
}

header{
  color: white;
  position: sticky;
  top:0;
  z-index: 1;
  background-color:darkslategray;
  padding: 10px 10px 10px 10px;
}