body{
  background-color: darkslategray;
}
main{
  margin: auto;
  max-width: 800px;
  
}
.item {
  margin-top: 5px;
  margin-left: 20px;
  padding: 5px;
  border: 1px solid #000000;
  background-color: lightblue;
  color: #404040;
}

.container{
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
 
}

.type-icon{
  background-color: aqua;
  margin-right: 10px;
}

.terminal .key{
  width: 200px;
  overflow:hidden;
  margin-right: 10px;
}

.terminal .value{
  overflow:hidden;
}

.terminal{
  background-color: white;;
}

.hidden {
  display: none;
}

header{
  color: white;
  position: sticky;
  top:0;
  z-index: 1;
  background-color:darkslategray;
  padding: 10px 10px 10px 10px;
}