body{
  background-color: darkslategray;
}
main{
  margin: auto;
  max-width: 800px;
  
}
.item {
  margin-top: 5px;
  margin-left: 20px;
  padding: 5px;
  border: 1px solid #000000;
  background-color: lightblue;
  color: #404040;
  
}

.container{
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;

}

.type-icon{
  margin-right: 10px;
  width: 50px;
}

.terminal .key {
  width: 250px;
  font-size: 14px;
}

.terminal .value{
  font-size: 12px;
}

.key{
  font-weight: 500;
  font-size: 18px;
}

.value{
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
  width: 100%;
  font-size: 16px;
  color: gray;
}



.value, .key{
  display: flex;
  align-items: center;
  flex-grow: 0;
}


.terminal{
  background-color: white;;
}

.hidden {
  display: none;
}

header{
  color: white;
  position: sticky;
  top:0;
  z-index: 1;
  background-color:darkslategray;
  padding: 10px 10px 10px 10px;
}